# Task M2 T01 Mustafa Habibi

## Exercise 1
Create a list that groups the months of the year into quarters (1Q: January, February and March; 2Q: April, May, June...), that is, a list with 4 lists inside.

In [10]:
Quarters = {'Q1':['January', 'February', 'March'],
'Q2':['April', 'May', 'June'],
'Q3':['July', 'August', 'September'],
'Q4':['October', 'November', 'December']}

print(Quarters)

{'Q1': ['January', 'February', 'March'], 'Q2': ['April', 'May', 'June'], 'Q3': ['July', 'August', 'September'], 'Q4': ['October', 'November', 'December']}

## Exercise 2
Create a code that gives you access to:

- The second month of the first trimester.
- The months of the first quarter.
- September and October.

In [13]:
print (Q1[1])

February

In [14]:
print (Q1)

['January', 'February', 'March']

In [17]:
print (Q3[2], Q4[0])

September October

## Exercise 3
- Create a list with unordered numbers and answer the following questions:

- How many numbers are there?
- How many times does the number 3 appear.
- How many times do the numbers 3 and 4 appear?
- What is the biggest number?
- What are the 3 smallest numbers?
- What is the rank of this list?

##### How many numbers are there?

In [14]:
import random

list_num = random.sample(range(1,50), 35)
print(list_num)
print ('There are', len(list_num), 'numbers.')
print (list_num.count(3), 'time numbere 3 appears')
print ('number 3 apears', list_num.count(3),'time', 'and number 4 apears', list_num.count(4), 'times.')
print ('The biggest number is', max(list_num),'.')
print ('The three smalest numbere are',  )

[39, 18, 13, 38, 28, 37, 25, 45, 36, 48, 10, 4, 46, 33, 21, 9, 24, 19, 31, 43, 35, 1, 22, 15, 7, 49, 30, 34, 32, 12, 8, 40, 17, 23, 47]
There are 35 numbers.
0 time numbere 3 appears
number 3 apears 0 time and number 4 apears 1 times.
The biggest number is 49 .
The three smalest numbere are

##### What are the 3 smallest numbers?

In [17]:
sorted_list_num= sorted(list_num)
smallest_three= sorted_list_num[:3]

print('The three smallest numbers are', smallest_three)

The three smallest numbers are [1, 4, 7]

##### What is the rank of this list?

In [19]:
for num in list_num:
    maximum = list_num[0]
    minimum = list_num[0]
    if num < minimum:
        minimum = num
    if num > maximum:
        maximum = num

rank = maximum - minimum
        
print('The rank of this list is',rank)

The rank of this list is 8

## Exercise 4
Create a dictionary in the following form and answer the questions:

compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }
- Add some more fruit
- How much did the pears cost in total?
- How many fruits did we buy in total?
- What is the most expensive fruit?

In [57]:
compra = { "Apples" : {"Qty": 5, "€": 0.42}, "Pears" : {"Qty": 3, "€": 0.66} }
print (compra)

{'Apples': {'Qty': 5, '€': 0.42}, 'Pears': {'Qty': 3, '€': 0.66}}

In [98]:
compra.update({'Oranges': {'Qty': 6, '€': 0.55}, 'Banana': {'Qty': 2, '€': 0.32}})
print('I added "apple" in the list of fruits', compra)

I added "apple" in the list of fruits {'Apples': {'Qty': 5, '€': 0.42}, 'Pears': {'Qty': 3, '€': 0.66}, 'Oranges': {'Qty': 6, '€': 0.55}, 'Banana': {'Qty': 2, '€': 0.32}}

In [102]:
Total_cost_pears= compra['Pears']['Qty']* compra['Pears']['€']
print ('The total cost of pears is', Total_cost_pears, '€')

The total cost of pears is 1.98 €

In [103]:
total_Qty=0
for fruit, data in compra.items():
    total_Qty+= data['Qty']
print(total_Qty, 'fruits we bought in total.')

16 fruits we bought in total.

In [111]:
most_expensive_fruit = 'None'
highest_price = 0

for fruit, price in compra.items():
    price = price['€']
    if price > highest_price:
        most_expensive_fruit = fruit
        highest_price = price
        
print('The most expensive fruit is', most_expensive_fruit, 'at', highest_price, '€')

The most expensive fruit is Pears at 0.66 €