# Task M2 T01 Mustafa Habibi

## Exercise 1
Create a list that groups the months of the year into quarters (1Q: January, February and March; 2Q: April, May, June...), that is, a list with 4 lists inside.

In [10]:
Quarters = {'Q1':['January', 'February', 'March'],
'Q2':['April', 'May', 'June'],
'Q3':['July', 'August', 'September'],
'Q4':['October', 'November', 'December']}

print(Quarters)

{'Q1': ['January', 'February', 'March'], 'Q2': ['April', 'May', 'June'], 'Q3': ['July', 'August', 'September'], 'Q4': ['October', 'November', 'December']}

## Exercise 2
Create a code that gives you access to:

- The second month of the first trimester.
- The months of the first quarter.
- September and October.

In [13]:
print (Q1[1])

February

In [14]:
print (Q1)

['January', 'February', 'March']

In [17]:
print (Q3[2], Q4[0])

September October

## Exercise 3
- Create a list with unordered numbers and answer the following questions:

- How many numbers are there?
- How many times does the number 3 appear.
- How many times do the numbers 3 and 4 appear?
- What is the biggest number?
- What are the 3 smallest numbers?
- What is the rank of this list?

##### How many numbers are there?

In [5]:
import random

list_num = random.sample(range(1,50), 35)
print(list_num)

[3, 48, 20, 41, 17, 23, 16, 25, 28, 13, 6, 38, 30, 33, 36, 49, 29, 24, 31, 2, 14, 19, 34, 10, 5, 21, 4, 8, 46, 22, 47, 7, 44, 26, 32]

###### How many numbers are there?

In [3]:
print (len(list_num))

35

###### How many times does the number 3 appear.

In [7]:
print(list_num.count(3))

1

##### How many times do the numbers 3 and 4 appear?

In [9]:
print (list_num.count(3), (4))

1 4

##### What is the biggest number?

In [12]:
num_max=max(list_num)
print(num_max)

49

##### What are the 3 smallest numbers?

In [13]:
num_min=min(list_num)
print(num_min)

2

##### What is the rank of this list?

In [19]:
for num in list_num:
    maximum = list_num[0]
    minimum = list_num[0]
    if num < minimum:
        minimum = num
    if num > maximum:
        maximum = num

rank = maximum - minimum
        
print(rank)

29